{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-avatar">
        <!-- Correct path for the default avatar image -->
        <img src="{{user.avatar_url}}" alt="User Avatar of {{user.username}}" class="profile-avatar-image">
    </div>
    
    <section class="profile-info">
        <!-- user profile info -->
        <h2>Username Profile</h2>
        <h3>Username {{user.username}}</h3>
        <h3>Member since: {{user.memberSince}}</h3>
    </section>
</div>

<section class="user-posts">
    <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
    <h2>Your {{{postNeoType}}}s</h2>
    
    <!-- you'll need to make this conditaionl and #each expression work -->
    {{#if user.posts.length}}
        <ul>
            {{#each user.posts}}
                {{> post this userName=../userName user=../user}}
            {{/each}}
        </ul>
    {{else}}
        <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
        <h4>You have not posted yet, poster.</h4>
    {{/if}}

</section>